.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0.5rem;
  font-family: "Times New Roman", Times, serif;

  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  margin-top: 40px;
  margin-right: 50px;
}

.logoContainer {
  display: flex;
  align-items: center;
  margin-left: 100px; /* Incrementar margen izquierdo */
  margin-bottom: 20px;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem; /* Espaciado entre los enlaces */
  width: 80%;
  margin: 0 auto;
  margin-right: 10%;
}

.navLinks li {
  list-style: none; /* Elimina el estilo de lista predeterminado */
  margin: 0;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem; /* Tamaño de fuente más grande */
  line-height: 1.5; /* Altura de línea para centrar verticalmente */
  text-align: center; /* Asegura que el texto esté centrado */
  font-weight: bold; /* Hace que el texto sea más prominente */
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Cambia la disposición a columna */
    align-items: center;
    padding: 1rem;
  }

  .logoContainer img {
    width: 180px; /* Reduce el tamaño del logo */
  }

  .navLinks {
    flex-direction: row; /* Mantiene los enlaces en una fila */
    gap: 1.5rem; /* Reduce el espaciado */
  }

  .navLinks a {
    font-size: 1.2rem; /* Tamaño de fuente más pequeño */
  }
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    padding: 0.8rem;
  }

  .logoContainer img {
    width: 150px; /* Tamaño más pequeño del logo */
  }

  .navLinks {
    margin-right: 5px;
    gap: 7rem; /* Menor espacio entre enlaces */
  }

  .navLinks a {
    font-size: 1rem;
  }
}
